<h1>Carrito</h1>
<h2>Cart ID: {{idCart}}</h2>
<h3>Products:</h3>
<ul>
  {{#each @root.cart.products}}
    <li>
      <h4>{{this.title}}</h4>
      <h4>quantity: {{this.quantity}}</h4>
    </li>
  {{/each}}
</ul>